:root {
  --bgColor: #5736a3;
  --color: #ebd8ff;
  --font: 600 18px/1.2 Montserrat, Roboto, sans-serif;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* padding: 20px 0; */
  color: var(--color);
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
/* a {
  color: inherit;
  text-decoration: none;
} */

.load-more {
  width: 196px;
  padding: 14px 0;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  font: var(--font);
  background-color: var(--bgColor);
  color: var(--color);
}

.dropDown {
  width: 196px;
  padding: 14px 0;
  margin: 0 20px 0 auto;
  top: -96px;
  font: var(--font);
  cursor: pointer;
}
